<!DOCTYPE html>
<!-- saved from url=(0027)http://www.globallogic.com/ -->
<html lang="en-US" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">

	<title>GlobalLogic Automation Admin</title>
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="pingback" href="http://www.globallogic.com/xmlrpc.php">
	<link rel="shortcut icon" href="http://www.globallogic.com/wp-content/themes/globallogic/favicon.ico">

	<link rel="stylesheet" type="text/css" media="screen" href="/Full Product Lifecycle Services   GlobalLogic_files/style.css">
	<script type="text/javascript" async="" src="/Full Product Lifecycle Services   GlobalLogic_files/inpage_linkid.js" id="undefined"></script><script type="text/javascript" async="" src="/Full Product Lifecycle Services   GlobalLogic_files/ga.js"></script><script id="twitter-wjs" src="/Full Product Lifecycle Services   GlobalLogic_files/widgets.js"></script><script async="" src="/Full Product Lifecycle Services   GlobalLogic_files/prum.min.js"></script><script src="/Full Product Lifecycle Services   GlobalLogic_files/modernizr.js"></script>
	<meta name="google-site-verification" content="RO_4vs0zvmBDdCzcFnNxDFzHlX-JYoMNdBuDyAVaVJw">
<script>var _prum = [['id', '534538adabe53dd25060dbc1'],             ['mark', 'firstbyte', (new Date()).getTime()]];(function() {    var s = document.getElementsByTagName('script')[0]      , p = document.createElement('script');    p.async = 'async';    p.src = '//rum-static.pingdom.net/prum.min.js';    s.parentNode.insertBefore(p, s);})();</script>
	<link rel="stylesheet" id="contact-form-7-css" href="/Full Product Lifecycle Services   GlobalLogic_files/styles.css" type="text/css" media="all">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.globallogic.com/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.globallogic.com/wp-includes/wlwmanifest.xml"> 
<meta name="generator" content="WordPress 3.7.1">

<!-- /all in one seo pack -->
<script type="text/javascript" async="" src="/Full Product Lifecycle Services   GlobalLogic_files/lfx.js"></script></head>
<body data-twttr-rendered="true">
	
	<header class="main-header" data-role="header" data-id="main-header" data-position="fixed" data-fullscreen="true" data-tap-toggle="false">	
		<nav class="main-nav">
			<div class="logo">
				<a href="#" data-transition="fade"><img src="/Full Product Lifecycle Services   GlobalLogic_files/logo.png" width="106" height="18" alt="GlobalLogic logo"></a>
			</div>
			
		</nav>
	
			</header>
	<div data-role="page" class="home blog">
		<div id="home" class="main container" role="main" data-role="content">

			<section class="hero-slider" id="hero-slider" data-ur-set="carousel" data-ur-autoscroll="enabled" data-ur-vertical-scroll="disabled" data-ur-carousel-component="view_container" data-ur-autoscroll-delay="9000" data-ur-fill="1" data-ur-center="disabled" data-ur-id="1" data-ur-touch="enabled" data-ur-infinite="enabled" data-ur-clones="1" data-ur-autoscroll-dir="next" data-ur-state="enabled">
	
				<ol data-ur-carousel-component="scroll_container" style="width: 6552px; transform: translate3d(-3744px, 0px, 0px); -webkit-transform: translate3d(-3744px, 0px, 0px);">
					
					
					<li data-ur-carousel-component="item" style="width: 936px;" data-ur-state="active">
						<img src="/Full Product Lifecycle Services   GlobalLogic_files/diabetes-logbook-carousel.jpg" width="961.1320754717" height="450">
						<hgroup>
							<h1>We have great&nbsp;<a href="https://www.globallogic.com/proof-concept/diabetes-logbook/">ideas</a>.</h1>
<h2>Learn how our latest proof-of-concept could help diabetes patients monitor &amp; share their health data anytime, anywhere.</h2>
						</hgroup>
					</li>
					
				</ol>
			</section>
			
			<!--[if gt IE 9]><!--> <script src="/Full Product Lifecycle Services   GlobalLogic_files/uranium-pretty.js"></script> <!--<![endif]-->
			<!--[if lte IE 9]><script src="http://www.globallogic.com/wp-content/themes/globallogic/js/uranium-ie-pretty.js"></script><![endif]-->

			<div class="layout-3-col">

				<div class="col">

					<section class="widget widget-blog">
						<h3 class="widget-title">Users</h3>
						<ul>
							<li id="nandiniLI">
								<article class="content-listed blog nandiniArticle" itemscope="" itemtype="http://schema.org/Article">

									<div class="media">
	      								<div class="img cl-img">
										<img width="52" height="52" src="/Full Product Lifecycle Services   GlobalLogic_files/1857.jpg" class="attachment-52x52 wp-post-image" itemprop="image" >	      								</div>
	      								<div class="bd cl-bd">
	      									<h4 class="cl-title" itemprop="name">Monthly Consumption</h4>
	      									<p class="cl-author nandiniLed" itemprop="author"> </p>
	      								</div>
	    							</div>
								</article>
							</a>

							</li>
							<li id="lokeshLI">

								
<article class="content-listed blog lokeshArticle" itemscope="" itemtype="http://schema.org/Article">

									<div class="media">
	      								<div class="img cl-img">
										<img width="52" height="52" src="/Full Product Lifecycle Services   GlobalLogic_files/lokesh.jpg" class="attachment-52x52 wp-post-image" itemprop="image" >	      								</div>
	      								<div class="bd cl-bd">
	      									<h4 class="cl-title" itemprop="name">Monthly Consumption</h4>
	      									<p class="cl-author lokeshLed" itemprop="author"> XYZ Minutes</p>
	      								</div>
	    							</div>
								</article>
							</a>

							</li>
							<li id="sandeepLI">

								
<article class="content-listed blog sandeepArticle" itemscope="" itemtype="http://schema.org/Article">

									<div class="media">
	      								<div class="img cl-img">
										<img width="52" height="52" src="/Full Product Lifecycle Services   GlobalLogic_files/sandeep.jpg" class="attachment-52x52 wp-post-image" itemprop="image" alt="Sandeep Mishra">	      								</div>
	      								<div class="bd cl-bd">
	      									<h4 class="cl-title" itemprop="name">Monthly Consumption</h4>
	      									<p class="cl-author sandeepLed" itemprop="author"> XYZ Minutes</p>
	      								</div>
	    							</div>
								</article>
							</a>

							</li>
							
						</ul>
					</section>
				</div>

				<div class="col">	



			<section class="widget widget-news">
						<h3 class="widget-title">Devices</h3>
						<ul>
							<li id="allRoom">

								
<article class="content-listed blog" itemscope="" itemtype="http://schema.org/Article">

									<div class="media">
	      								<div class="img cl-img">
										</div>
	      								<div class="bd cl-bd">
	      									<h4 class="cl-title" itemprop="name">All Rooms</h4>
	      									<p class="cl-author totalExpense" itemprop="author"> XYZ Minutes</p>
	      								</div>
	    							</div>
								</article>
							</a>

							</li>
							<li onclick="showChart()">

								
<article class="content-listed blog" itemscope="" itemtype="http://schema.org/Article">

									<div class="media">
	      								<div class="img cl-img">
										</div>
	      								<div class="bd cl-bd">
	      									<h4 class="cl-title" itemprop="name">Visual Statistics</h4>
	      									
	      								</div>
	    							</div>
								</article>
							</a>

							</li>

						
														
						
						</ul>
					</section>

				</div>

			

			</div>

		</div>

	<footer class="main-footer" data-role="footer">
		<div class="container">
			<nav class="footer-nav">
				<div class="menu-footer-container"><ul id="menu-footer" class="menu">


</ul></div>			</nav>
		</div>
	</footer>
</div>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile.structure-1.2.0.min.css">
	<script src="/Full Product Lifecycle Services   GlobalLogic_files/jquery-1.8.3.min.js"></script>
	<script>window.jQuery || document.write('<script src="http://www.globallogic.com/wp-content/themes/globallogic/js/jquery-1.8.3.min.js"><\/script>')</script>
	<script src="/Full Product Lifecycle Services   GlobalLogic_files/script.js"></script>
				<script>
				$(".hero-slider [data-ur-carousel-component=dot]").each( function(i,e){
					$(this).click(function(ev) {
						Ur.Widgets.carousel[1].jumpToIndex(i+1);
					});
				});
				$(".testimonial-slider [data-ur-carousel-component=dot]").each( function(i,e){
					$(this).click(function(ev) {
						Ur.Widgets.carousel[2].jumpToIndex(i+1);
					});
				});
			</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	<script type="text/javascript">
var _gaq = _gaq || [];
var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
_gaq.push(['_require', 'inpage_linkid', pluginUrl]);
_gaq.push(['_setAccount', 'UA-5788953-1']);
_gaq.push(['_setDomainName', 'none']);
_gaq.push(['_setAllowLinker', true]);
_gaq.push(['_trackPageview']);
		
(function() {
 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();
</script>
	<script type="text/javascript">
		var pkBaseURL = (("https:" == document.location.protocol) ? "https://vlog.leadformix.com/" : "http://vlog.leadformix.com/");
	<!--
	bf_action_name = '';
	bf_idsite = 5359;
	bf_url = pkBaseURL+'bf/bf.php';
	(function() {
	var lfh = document.createElement('script'); lfh.type = 'text/javascript'; lfh.async = true;
	lfh.src = pkBaseURL+'bf/lfx.js';
	var s = document.getElementsByTagName('head')[0]; s.appendChild(lfh);
	})();
	//-->
	</script>
	<noscript>&lt;p&gt;Marketing Automation&lt;img src="http://vlog.leadformix.com/bf/bf.php" style="border:0" alt="Marketing Automation 2.0 Platform"/&gt;&lt;/p&gt;
	</noscript>



<iframe id="rufous-sandbox" scrolling="no" frameborder="0" allowtransparency="true" style="display: none;"></iframe></body></html>
<script>
 var SERVERURL = "http://localhost:3000/"

 function showChart() 
{
    window.location.href = SERVERURL+ "getUsageData";
}
 function sendStatus(name, bit){
   $.ajax({
            url: SERVERURL+"sendStatus/" +  name + "/" + bit,
            type: 'GET',
            success: function(data) {
             //alert(data)
             getStatus();
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) { 
                //alert("Status: " + textStatus); 
                //alert("Error: " + errorThrown); 
            } 
        });
 }
 function getStatus(){
 $.ajax({
            url: SERVERURL+"getStatus",
            type: 'GET',
            success: function(status) {
            	var a= JSON.parse(status);
           		if(a["10"]){
           			$("#nandiniLI").addClass('on');
					$(".nandiniArticle").css("border-color", "#38F182");
				}else{
					$("#nandiniLI").removeClass('on');
					$(".nandiniArticle").css("border-color", "#f15738");
				}
				if(a["11"]){
					$("#sandeepLI").addClass('on');
					$(".sandeepArticle").css("border-color", "#38F182");
				}else{
					$("#sandeepLI").removeClass('on');
					$(".sandeepArticle").css("border-color", "#f15738");
				} 
				if(a["9"]){
					$("#lokeshLI").addClass('on');
					$(".lokeshArticle").css("border-color", "#38F182");
				}else{
					$("#lokeshLI").removeClass('on');
					$(".lokeshArticle").css("border-color", "#f15738");
				}
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) { 
                //alert("Status: " + textStatus); 
                //alert("Error: " + errorThrown); 
            } 
        });
 }
  function getRecord(){
 $.ajax({
            url: SERVERURL+"getRecords",
            type: 'GET',
            success: function(data) {
            	console.log(data[2].expense);
             	
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) { 
                //alert("Status: " + textStatus); 
                //alert("Error: " + errorThrown); 
            } 
        });
 }
 $(document).ready(function(){
	 getStatus();
	 var totalExpense = 0;
	var d= <%- JSON.stringify(records) %>;
	d.forEach(function(element){
		totalExpense +=  element.expense;
			if(element._id == 10)
			{	
				$("p.nandiniLed").text(element.expense);
			}else if(element._id == 11)
			{
				$("p.sandeepLed").text(element.expense);
			}else if(element._id == 9)
			{
				$("p.lokeshLed").text(element.expense);
			}
	});
	$("p.totalExpense").text(totalExpense);
	console.log(("tototot"),totalExpense);
	$("#nandiniLI").click(function(){
		
		change(10, $(this).hasClass("on"));
	});
	$("#sandeepLI").click(function(){
		change(11, $(this).hasClass("on"));
	});
	$("#lokeshLI").click(function(){
		change(9, $(this).hasClass("on"));
	});
	
 });
 function change(id, value)
 {		
 	
 	sendStatus(id,value==true?0:1);		
 }
 //console.log( <%- JSON.stringify(records) %>);
 </script> 		
}